{% load static %}
{% load ntbk_extras %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
    <script src="{% static 'js/modernizr.js' %}"></script> <!-- Modernizr -->

    <!-- no ui slider-->
    <link href="{% static 'css/nouislider.css' %}" rel="stylesheet">
    <script src="{% static 'js/nouislider.js' %}"></script>

    <script src="{% static 'js/wNumb.min.js' %}"></script> <!-- wNum, formating prices -->
    

    <style>
        .not-visible{
            display: none;
        }
        .container {
            width: 25%;
            box-sizing: border-box;
            border: #41307c 1px;
        }
        @media only screen and (max-width: 768px){
            .container {
            width: 100%;
            box-sizing: border-box;
            border: #41307c 1px;
            }
        }
        @media only screen and (max-width: 1024px) and (min-width: 769px) {
            .container {
            width: 50%;
            box-sizing: border-box;
            border: #41307c 1px;
            }
        }
        
        .container img {
          max-height: 100%;
          max-width: 100%;
        }
    </style>
        
	
 	
	<title>elijetunotebook</title>
</head>
<body>
	<header class="cd-header">
		<a href="/"><h1>Elige tu notebook</h1></a>
	</header>	
		
	
	<main class="cd-main-content">

        <!-- Tab Filtros -->
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a>Todos</a> <!-- selected option on mobile -->
					</li> 
					<li class="filter"><a class="selected" id="t" style="cursor:pointer;">Todos</a></li>
                    
					<li class="filter" ><a id="g" style="cursor:pointer;">Gamer</a></li>
					<li class="filter" ><a id="o" style="cursor:pointer;">Oficina</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->
        
        <!-- End Tab Filtros -->

        <!-- Galeria -->
        <section class="cd-gallery">
            <div class="flex" style="display: flex; flex-wrap: wrap;">
                {% for ntbk in ntbk_page_obj %}
                    <div class="container">
                        <img src="{{ ntbk.img }}">
                        {{ ntbk.nombre }}<br>
                        {{ ntbk.proce }}<br>
                        {{ ntbk.gpu }}<br>
                        {{ ntbk.gpuDedi }}<br>
                        {{ ntbk.ram }}<br>
                        {{ ntbk.precio }}<br>
                        {{ ntbk.almace }} <br>
                        {{ ntbk.puntaje2 }}
                        
                    </div>
                    <br><br>
                {% endfor %}
            </div>        


            <!-- Pagination -->

            <div class="pagination">
                <span class="step-links">
                    {% if ntbk_page_obj.has_previous %}
                        <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
                        <a href="{% my_url ntbk_page_obj.previous_page_number 'page' request.GET.urlencode %}"> Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ ntbk_page_obj.number }} of {{ ntbk_page_obj.paginator.num_pages }} 
                    </span>

                    {% if ntbk_page_obj.has_next %}                
                        <a href="{% my_url ntbk_page_obj.next_page_number 'page' request.GET.urlencode %}"> Next</a>
                        <a href="{% my_url ntbk_page_obj.paginator.num_pages 'page' request.GET.urlencode %}"> Last</a>
                    {% endif %}

                </span>
            
            </div>
            <!-- End Pagination -->
        </section>
        <!-- End Galeria -->

		<!-- Filtros -->

        <div class="cd-filter">
            
            <form metohd='get' id="form-id">

                <div class="cd-filter-block">
                    <h4>Precio</h4>
                    <br>
                    <br>
                    <div class="cd-filter-content">
                        <div id="slider"></div>
                        <input type="hidden" name="p_min" id="id_p_0">
                        <input type="hidden" name="p_max" id="id_p_1">
                    </div>
                </div>

                
                <div class="cd-filter-block">
                    <h4>Busqueda</h4>
                    <div class="cd-filter-content">
                        {{ filtered_ntbks.form.q }}
                    </div>
                </div>
                
                <div class="cd-filter-block">
                    <h4>Ram</h4>
                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                        {{ filtered_ntbks.form.ramint }}
                        </div>
                    </div>                    
                </div>

                <div class="cd-filter-block" hidden>
                    <h4>Tipo</h4>
                    <div class="cd-filter-content">
                        <div class="cd-select cd-filters">
                            <select name="tipo" id="id_tipo" hidden>
                                <option value="">---------</option>
                              
                                <option value="">Todos</option>
                              
                                <option value="GB">Gamer</option>
                              
                                <option value="No tar" selected="">Oficina</option>
                              
                              </select>
                        </div>
                    </div>                    
                </div>
                

                <input type="submit" value="Filtrar">
                <br>
                                

                <a href="#0" class="cd-close">Cerrar</a>
            </form>
        </div>

        <a href="#" class="cd-filter-trigger">Filtros</a>

        <!-- End Filtros -->

		
	</main> <!-- cd-main-content -->


    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    
    <script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->
    <script>
        function mergeTooltips(slider, threshold, separator) {

            var textIsRtl = getComputedStyle(slider).direction === 'rtl';
            var isRtl = slider.noUiSlider.options.direction === 'rtl';
            var isVertical = slider.noUiSlider.options.orientation === 'vertical';
            var tooltips = slider.noUiSlider.getTooltips();
            var origins = slider.noUiSlider.getOrigins();

            // Move tooltips into the origin element. The default stylesheet handles this.
            tooltips.forEach(function (tooltip, index) {
                if (tooltip) {
                    origins[index].appendChild(tooltip);
                }
            });

            slider.noUiSlider.on('update', function (values, handle, unencoded, tap, positions) {

                var pools = [[]];
                var poolPositions = [[]];
                var poolValues = [[]];
                var atPool = 0;

                // Assign the first tooltip to the first pool, if the tooltip is configured
                if (tooltips[0]) {
                    pools[0][0] = 0;
                    poolPositions[0][0] = positions[0];
                    poolValues[0][0] = values[0];
                }

                for (var i = 1; i < positions.length; i++) {
                    if (!tooltips[i] || (positions[i] - positions[i - 1]) > threshold) {
                        atPool++;
                        pools[atPool] = [];
                        poolValues[atPool] = [];
                        poolPositions[atPool] = [];
                    }

                    if (tooltips[i]) {
                        pools[atPool].push(i);
                        poolValues[atPool].push(values[i]);
                        poolPositions[atPool].push(positions[i]);
                    }
                }

                pools.forEach(function (pool, poolIndex) {
                    var handlesInPool = pool.length;

                    for (var j = 0; j < handlesInPool; j++) {
                        var handleNumber = pool[j];

                        if (j === handlesInPool - 1) {
                            var offset = 0;

                            poolPositions[poolIndex].forEach(function (value) {
                                offset += 1000 - 10 * value;
                            });

                            var direction = isVertical ? 'bottom' : 'right';
                            var last = isRtl ? 0 : handlesInPool - 1;
                            var lastOffset = 1000 - 10 * poolPositions[poolIndex][last];
                            offset = (textIsRtl && !isVertical ? 100 : 0) + (offset / handlesInPool) - lastOffset;

                            // Center this tooltip over the affected handles
                            tooltips[handleNumber].innerHTML = poolValues[poolIndex].join(separator);
                            tooltips[handleNumber].style.display = 'block';
                            tooltips[handleNumber].style[direction] = offset + '%';
                        } else {
                            // Hide this tooltip
                            tooltips[handleNumber].style.display = 'none';
                        }
                    }
                });
            });
        }
    </script>
    <script>
        var slider = document.getElementById('slider');
        
        var inicio = 100000;
        var fin = 1000000;
        
        if (localStorage.getItem("preciomin") && localStorage.getItem("preciomax")){
            inicio = localStorage.getItem("preciomin")
            fin = localStorage.getItem("preciomax")
        }

        noUiSlider.create(slider, {
            start: [inicio, fin],
            behaviour: 'drag-tap',
            tooltips: [true, true], 
            format: wNumb({
                decimals: 0,
                thousand: '.',
                prefix: '$ '
            }),
            connect: true,  
            range: {
                'min': 0,
                '10%': 200000,
                '20%': 400000,
                '30%': 600000,
                '40%': 800000,
                '60%': 1000000,
                'max': 5000000,
            }
        });

        slider.noUiSlider.on('update', function (values) {
            var handleValue = slider.noUiSlider.get();
            id_p_0.value = handleValue[0].replace(/\D/g,'');
            localStorage.setItem("preciomin",id_p_0.value);
                 

            id_p_1.value = handleValue[1].replace(/\D/g,'');
            localStorage.setItem("preciomax", id_p_1.value);
            
        });
        
        mergeTooltips(slider, 100, ' - ');
    </script>
    <script>    

        var gamer = document.getElementById("g");
        var todos = document.getElementById("t");
        var oficina = document.getElementById("o");

        var target = document.getElementById("id_tipo");

        if (localStorage.getItem("selected") == 't'){
            gamer.classList.remove("selected");
            todos.classList.add("selected");
            oficina.classList.remove("selected");
            target.value = '';
        } else if (localStorage.getItem("selected") == 'g'){
            gamer.classList.add("selected");
            todos.classList.remove("selected");
            oficina.classList.remove("selected");
            target.value = 'GB';
        } else if (localStorage.getItem("selected") == 'o'){
            gamer.classList.remove("selected");
            todos.classList.remove("selected");
            oficina.classList.add("selected");
            target.value = 'No tar';
        }
        
        

        var form = document.getElementById("form-id");
        
        gamer.addEventListener("click", function () {
            localStorage.setItem("selected",'g');
            target.value = 'GB';
            form.submit();
        });
        oficina.addEventListener("click", function () {
            localStorage.setItem("selected",'o');
            target.value = 'No tar';
            form.submit();
        });
        todos.addEventListener("click", function () {
            localStorage.setItem("selected",'t');
            target.value = '';
            form.submit();
        });

    </script>
    
</body>
</html>